$color-primary: #56bc2f;
$color-secondary: #A0EF6E;
$color-tertiary:#57535A;
$color-info:#007DB8;
$color-success: #56bc2f;
$color-warning: #FFC035;
$color-error: #D64200;
$color-white:   #FFFFFF;
$color-grey1: #EFEFEF;
$color-grey2: #DDDDDE;
$color-grey3: #CDCBCE;
$color-grey4: #BCBABD;
$color-grey5: #ABA9AD;
$color-grey6: #9A989C;
$color-grey7: #89878C;
$color-grey8: #79757B;
$color-grey9: #68646B;
$color-grey10: #57535A;
$color-grey11: #4E4B51;
$color-grey12: #3D3A3F;
$color-grey13: #2C2A2D;
$color-grey14: #1A191B;
$color-black: #000000;

$body-background: $color-grey10;